
<ion-content>
  <div class="container">
    <div class="top">
      <div class="top-1">
        <div class="nav">
          <ion-back-button defaultHref="/signin" text="" icon="arrow-back-outline"></ion-back-button>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="body-heading">
        <p class="profile-heading">Reset Password</p>
      </div>
      <p class="text2"> Enter the email associated with your account and we will send you an email with instructions to reset your password.</p>
      <div class="section">
        <div class="input-div">
          <p>Email:</p>
          <input type="email"  />
        </div>
      </div>
      <div class="add-buttons">
        <p class="bt1" [routerLink]='["/otp"]'>Reset Password</p>
      </div>
    </div>
  </div>
</ion-content>