<ion-content>
  <div class="content">
    <div class="top">
      <div class="top-1">
        <div class="nav">
          <ion-back-button defaultHref="/tabs/dashboard" text="" icon="arrow-back-outline"></ion-back-button>
          <p class="text-heading">My Ads</p>
        </div>
        <div id="trade-searchicon" [routerLink]="['/new-ad']">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="filter-list">
        <select>
          <option>Crytos</option>
        </select>
        <select>
          <option>Types</option>
        </select>
        <select>
          <option>Status</option>
        </select>
      </div>
      <div class="ad-con">
        <div class="ad-item1">
          <div class="ad-sec1">
            <p>Buy USDT with BTC</p>
            <div class="ad-sec2">
                <span class="red bgred">Offline</span>
                <ion-toggle></ion-toggle>
            </div>
          </div>
          <div class="ad-price-detail">
            <p class="ad-coin">BTC</p>
            <p class="ad-price">0.0453</p>
            <p class="ad-convert">($500)</p>
          </div>
          <div class="ad-detail">
            <p class="text2">Amount</p>
            <span class="text1">1,3424.12USDT</span>
          </div>
          <div class="ad-detail">
            <p class="text2">Limit</p>
            <span class="text1">$10.00 - $600.00</span>
          </div>
          <div class="small-icon">
            <img src="../../../assets/icons/safebox.png" />
            <img src="../../../assets/icons/receipt.png" />
          </div>
        </div>
        <div class="ad-item1">
          <div class="ad-sec1">
            <p>Buy USDT with BTC</p>
            <div class="ad-sec2">
              <span class="green bggreen">Online</span>
              <ion-toggle checked></ion-toggle>
          </div>
          </div>
          <div class="ad-price-detail">
            <p class="ad-coin">BTC</p>
            <p class="ad-price">0.0453</p>
            <p class="ad-convert">($500)</p>
          </div>
          <div class="ad-detail">
            <p class="text2">Amount</p>
            <span class="text1">1,3424.12USDT</span>
          </div>
          <div class="ad-detail">
            <p class="text2">Limit</p>
            <span class="text1">$10.00 - $600.00</span>
          </div>
          <div class="small-icon">
            <img src="../../../assets/icons/safebox.png" />
            <img src="../../../assets/icons/receipt.png" />
          </div>
        </div>
        <div class="ad-item1">
          <div class="ad-sec1">
            <p>Buy USDT with BTC</p>
            <div class="ad-sec2">
                <span class="red bgred">Offline</span>
                <ion-toggle></ion-toggle>
            </div>
          </div>
          <div class="ad-price-detail">
            <p class="ad-coin">BTC</p>
            <p class="ad-price">0.0453</p>
            <p class="ad-convert">($500)</p>
          </div>
          <div class="ad-detail">
            <p class="text2">Amount</p>
            <span class="text1">1,3424.12USDT</span>
          </div>
          <div class="ad-detail">
            <p class="text2">Limit</p>
            <span class="text1">$10.00 - $600.00</span>
          </div>
          <div class="small-icon">
            <img src="../../../assets/icons/safebox.png" />
            <img src="../../../assets/icons/receipt.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>