<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <label>Home</label>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon name="list-outline"></ion-icon>
      <label>Orders</label>
    </ion-tab-button>
    <ion-tab-button tab="trade">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <label>Trade</label>
    </ion-tab-button>
    <ion-tab-button tab="myads">
      <ion-icon name="megaphone-outline"></ion-icon>
      <label>My Ads</label>
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <ion-icon name="wallet-outline"></ion-icon>
      <label>Wallet</label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <label>Account</label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
