ion-content {
    --background: var(--ion-color-backgroundcolor4);
}
.content {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    .top {
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 16px;

        .top-1 {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            // margin-bottom: 20px;
            ion-icon {
                font-size: 24px;
                color: var(--ion-color-textcolor1);
                --ionicon-stroke-width: 40px;
            }
            p {
                margin: 0px;
            }
            .nav {
                display: flex;
                flex-flow: row;
                align-items: center;
                ion-back-button {
                    font-size: 12px;
                    color: var(--ion-color-textcolor1);
                    --ionicon-stroke-width: 15px;
                }
                .text-heading {
                    font-size: 1.3em;
                    color: var(--ion-color-textcolor1);
                    font-weight: 600;
                    margin-left: 20px;
                    letter-spacing: 0.5px;
                }
            }
            #searchbar {
                transition: ease all .4s !important;
                width: 0px;
            }
            .search-input {
                width: 100%;
                display: none;
                align-items: center;
                padding-left: 16px;
                div#trade-searchbar{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    border-radius: 15px;
                    overflow: hidden;
                    flex-grow: 1;
                    background-color: white;
                    transition: ease all .4s !important;
                    width: 0px;
                    border:solid 1px rgb(220,220,220);
                    
                    input {
                        outline: transparent;
                        font-size: .85em;
                        border: none;
                        width: 100%;
                        background-color: transparent;
                    }
                }
                span {
                    font-size: .9em;
                    color: var(--ion-color-backgroundcolor1);
                    margin-left: 5px;
                }
            }
        }
    }
    .text-heading1 {
        margin: 0;
        font-size: 1em;
        color: var(--ion-color-textcolor1);
        font-weight: 600;
        letter-spacing: 0.5px;
        padding: 16px;
        background-color: white;
    }
    ion-segment {
        position: sticky;
        top: 0;
        ion-segment-button {
            --background: var(--ion-color-backgroundcolor4);
            --background-checked: var(--ion-color-backgroundcolor4);
            --color: var(--ion-color-textcolor5);
            --color-checked: var(--ion-color-textcolor1);
            --indicator-color: var(--ion-color-backgroundcolor1);
            // border-bottom: solid 5px transparent !important;
            ion-label {
                font-weight: 600;
            }
        }
    }
    
    .section {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        .text-heading1 {
            font-size: 1.1em;
            color: var(--ion-color-textcolor1);
            font-weight: 500;
            letter-spacing: 0.5px;
            margin: 7px 0px;
        }
        .text-heading1 {
            font-size: 1.05em;
            color: var(--ion-color-textcolor1);
            font-weight: 600;
            letter-spacing: 0.2px;
            padding: 20px 0;
        }
        .tag-list {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            padding: 16px;
            &::after {
                content: '';
                padding: 0.1px;
            }
            overflow: auto;
            .tag-item {
                font-size: .7em;
                color: var(--ion-color-textcolor2);
                background-color: var(--ion-color-backgroundcolor3);
                padding: 10px 15px;
                border-radius: 20px;
                margin-right: 15px;
                flex-shrink: 0;
            }
            // .tag-item:last-child {
            //     margin-right: 100px;
            // }
        }
        .trade-list {
            padding: 16px;
            .trade-item {
                display: flex;
                flex-flow: column;
                background-color: white;
                box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1), 0px 0px 15px 2px rgba(0, 0, 0, 0.04);
                margin-bottom: 25px;
                padding: 16px;
                .trade-detail {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
    
                    img {
                        width: 50px;
                        margin-right: 10px;
                    }
                    p {
                        margin: 0;
                    
                    }
                    .chart {
                        width: 100px;
                        app-minichart {
                            width: 100%;
                        }
                    }
                    .text-group1,
                    .text-group2 {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        .text1 {
                            font-size: 1em;
                            color: var(--ion-color-textcolor1);
                            font-weight: 600;
                            letter-spacing: 0.25px;
                            margin: 0 0 7px 0px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .text2 {
                            font-size: 0.73em;
                            color: var(--ion-color-textcolor3);
                            font-weight: 400;
                            letter-spacing: 0.5px;
                            white-space: nowrap;
                        }
                        .text3 {
                            font-size: 0.83em;
                            color: var(--ion-color-backgroundcolor2);
                            font-weight: 400;
                            letter-spacing: 0.5px;
                        }
                        .small-icon {
                            display: flex;
                            padding: 10px 0 0 0;
                            img {
                                width: 18px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .text-group2 {
                        align-items: flex-end;
                        .text1 {
                            font-size: 1.6em;
                        }
                    }
                }
                .trade-detail2 {
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        padding: 15px 35px;
                        background-color: var(--ion-color-backgroundcolor2);
                        border:none;
                        color:white;
                        border-radius: 8px;
                        font-size: .9em;
                    }
                    .text1 {
                        font-size: 1em;
                        color: var(--ion-color-textcolor1);
                        font-weight: 600;
                        letter-spacing: 0.25px;
                        margin: 7px 0px;
                    }
                    .text2 {
                        font-size: 0.73em;
                        color: var(--ion-color-textcolor3);
                        font-weight: 400;
                        letter-spacing: 0.5px;
                        white-space: nowrap;
                    }

                }
            }
        }
    }
}
