<ion-content>
  <div class="container">
    <div class="body">
      <div class="body-heading">
        <p class="profile-heading">Sign In</p>
      </div>
      <p class="text2">Sign in to your account.</p>
      <div class="section">
        <div class="input-div">
          <p>Email:</p>
          <input type="email"  />
        </div>
        <div class="input-div">
          <p>Password:</p>
          <input type="password" />
        </div>
      </div>
      <p [routerLink]='["/forgotpassword"]' class="text"><span class="link">Forgot password</span></p>
      <div class="add-buttons">
        <p class="bt1" [routerLink]='["/tabs"]'>Login</p>
      </div>
      <p class="text">Don't have an account? <span [routerLink]='["/signup"]' class="link">Create one</span></p>
    </div>
  </div>
</ion-content>