/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


* {
    outline: transparent;
}
.info-popup {
    --background: rgb(40,40,40);
    width: 100% !important;
}
.info-popup .popover-content {
    left: 16px !important;
    right: 16px !important;
    width: 90% !important;
}

.warning-popup {
    --background: rgb(40,40,40);
    --backdrop-opacity: .6;
    width: 100% !important;
}
.warning-popup .popover-content {
    left: 16px !important;
    right: 16px !important;
    width: 90% !important;
}

.otp {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;

    
}

.otp-input {
    // width: 15%;
    padding: 5px;
    box-sizing: content-box !important;
    text-align: center;
    border: none;
    border-bottom: solid 3px var(--ion-color-textcolor3);
    background-color: transparent;
    color:var(--ion-color-textcolor1);
    font-size: 2em;
}
.otp-input:not(:last-child){
    margin-right: 6% !important;
}

