<ion-content>
  <div class="content">
    <div class="top">
      <div class="top-1">
        <div class="nav">
          <ion-back-button defaultHref="/tabs/dashboard" text="" icon="arrow-back-outline"></ion-back-button>
          <p class="text-heading">Transfer History</p>
        </div>
      </div>
    </div>
    <div class="section1">
      <div class="date-filter">
        <p>From</p>
        <input type="date" />
      </div>
      <div class="date-filter">
        <p>To</p>
        <input type="date" />
      </div>
    </div>
    <div class="section2">
      <table>
        <thead>
          <tr>
            <th>Coin</th>
            <th>Amount</th>
            <th>To</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BTC</td>
            <td>0.986</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>USDT</td>
            <td>123.43</td>
            <td><span class="green">P2P</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>ETH</td>
            <td>1.34200</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>1.00000</td>
            <td><span class="green">P2P</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>1.00000</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>0.986</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>USDT</td>
            <td>123.43</td>
            <td><span class="green">P2P</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>ETH</td>
            <td>1.34200</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>1.00000</td>
            <td><span class="green">P2P</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>1.00000</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>0.986</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>USDT</td>
            <td>123.43</td>
            <td><span class="green">P2P</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>ETH</td>
            <td>1.34200</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>1.00000</td>
            <td><span class="green">P2P</span></td>
            <td>13:04 12/2020</td>
          </tr>
          <tr>
            <td>BTC</td>
            <td>1.00000</td>
            <td><span class="green">SPOT</span></td>
            <td>13:04 12/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>